#### Data Science Competition 2020
Haley Ferguson, Alicia Kincaid, Kelly Krenek

#### Challenge: 
Build models for predicting expected flight delays by airline and flight for the **third quarter of 2019**.

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from zipfile import ZipFile

In [22]:
#import all csv files
air_fares= pd.read_csv("AirFares.csv")
airports = pd.read_csv("Airports.csv")
routes = pd.read_csv("Routes.csv")
flight_description = pd.read_excel("FlightDataDescription(1).xlsx")

#unzip the flight delays file
with ZipFile("FlightDelays.zip","r") as zip_ref:
    #makes a folder in your directory called FlightDelays
    zip_ref.extractall("FlightDelays")

In [23]:
#read in the flight delays file to a dataframe
flight_delays = pd.read_csv("FlightDelays/FlightDelays.csv")
#this will take a good amount of time because the file is huge

/Users/haleyferguson/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
flight_delays.tail()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,CARRIER,FL_NUM,Route,ORIGIN,...,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,PASSENGERS,EMPFULL,EMPPART,EMPTOTAL,EMPFTE,NET_INCOME,OP_REVENUES
10915490,2019,2,6,27,4,2019-06-27,YX,4478,6671,XNA,...,NaN,NaN,NaN,3026.0,5831.0,311.0,6142.0,5987.0,21462.49,332085.52
10915491,2019,2,6,28,5,2019-06-28,YX,4506,6671,XNA,...,NaN,NaN,NaN,3026.0,5831.0,311.0,6142.0,5987.0,21462.49,332085.52
10915492,2019,2,6,28,5,2019-06-28,YX,4478,6671,XNA,...,NaN,NaN,NaN,3026.0,5831.0,311.0,6142.0,5987.0,21462.49,332085.52
10915493,2019,2,6,30,7,2019-06-30,YX,4506,6671,XNA,...,NaN,NaN,NaN,3026.0,5831.0,311.0,6142.0,5987.0,21462.49,332085.52
10915494,2019,2,6,30,7,2019-06-30,YX,4478,6671,XNA,...,0.0,0.0,0.0,3026.0,5831.0,311.0,6142.0,5987.0,21462.49,332085.52

In [32]:
flight_delays.columns

Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'CARRIER', 'FL_NUM', 'Route', 'ORIGIN', 'DEST', 'DEST_CITY',
       'DEST_STATE', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW',
       'DEP_DEL15', 'DEP_DELAY_GROUP', 'DEP_TIME_BLK', 'TAXI_OUT',
       'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME',
       'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15', 'ARR_DELAY_GROUP',
       'ARR_TIME_BLK', 'CANCELED', 'CANCELLATION_CODE', 'DIVERTED',
       'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'PASSENGERS', 'EMPFULL', 'EMPPART', 'EMPTOTAL',
       'EMPFTE', 'NET_INCOME', 'OP_REVENUES'],
      dtype='object')

Just some observations: 
avoidable delays- Carrier, Late Aircraft, Departure, Arrival
unavoidable delys - weather, security, NAS (National Airspace System clearance to fly)

In [49]:
flight_delays['CANCELED']

0           0
1           0
2           0
3           0
4           0
5           0
6           0
7           0
8           0
9           0
10          0
11          0
12          0
13          0
14          0
15          0
16          0
17          0
18          0
19          0
20          0
21          0
22          0
23          0
24          0
25          0
26          0
27          0
28          0
29          0
           ..
10915465    0
10915466    0
10915467    0
10915468    0
10915469    0
10915470    0
10915471    0
10915472    0
10915473    0
10915474    0
10915475    0
10915476    0
10915477    0
10915478    1
10915479    0
10915480    0
10915481    0
10915482    0
10915483    0
10915484    0
10915485    0
10915486    0
10915487    0
10915488    0
10915489    0
10915490    0
10915491    0
10915492    0
10915493    0
10915494    0
Name: CANCELED, Length: 10915495, dtype: int64

In [53]:
print("Total number of flights canceled from 2018-June 30, 2019:")
flight_delays.loc[flight_delays.CANCELED == 1, "CANCELED"].count()

Total number of flights canceled from 2018-June 30, 2019

202085